version: '3.8'

services:
  server:
    build: ./server
    container_name: express-server
    ports: 
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped
        
  client:
    build: ./client
    container_name: react-client
    ports:
      - "5173:3000"
    networks:
      - app-network
    depends_on:
      - server
    restart: unless-stopped

networks:
  app-network:
    driver: bridge